Repository materwelonDhruv/seedcord, changes with the labels that .github/labeler.yml gives for each.
All labels: pkg:seedcord, pkg:mock, pkg:services, pkg:plugins, pkg:types, pkg:utils, pkg:eslint-config, pkg:tsconfig, pkg:tsup-config, area:docs, area:tests, area:ci, area:config, area:release, area:assets

ci: attempt to fix ci/cd
  renovate.json
Labels: area:config

chore: bump deps
  .changeset/sad-nails-behave.md
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: area:docs, area:ci, area:release

ci: attempt better lint-staged config
  lint-staged.config.mjs
  package.json
  pnpm-lock.yaml
Labels: area:ci, area:config, area:release

ci: remove deprecated content from hooks
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
Labels: none

chore: version packages
  .changeset/olive-lamps-clean.md
  .changeset/sad-nails-behave.md
  .changeset/whole-clowns-repair.md
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/mock/CHANGELOG.md
  packages/mock/package.json
  packages/plugins/CHANGELOG.md
  packages/plugins/package.json
  packages/seedcord/CHANGELOG.md
  packages/seedcord/package.json
  packages/services/CHANGELOG.md
  packages/services/package.json
  packages/tsconfig/CHANGELOG.md
  packages/tsconfig/package.json
  packages/tsup-config/CHANGELOG.md
  packages/tsup-config/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Labels: pkg:seedcord, pkg:mock, pkg:services, pkg:plugins, pkg:types, pkg:utils, pkg:eslint-config, pkg:tsconfig, pkg:tsup-config, area:docs, area:config, area:release

.github/labeler.yml:

pkg:seedcord:
  - 'packages/seedcord/**'
  - 'seedcord/**'
pkg:mock:
  - 'packages/mock/**'
pkg:services:
  - 'packages/services/**'
pkg:plugins:
  - 'packages/plugins/**'
pkg:types:
  - 'packages/types/**'
pkg:utils:
  - 'packages/utils/**'
pkg:eslint-config:
  - 'packages/eslint-config/**'
pkg:tsconfig:
  - 'packages/tsconfig/**'
pkg:tsup-config:
  - 'packages/tsup-config/**'
area:docs:
  - 'docs/**'
  - '**/*.md'
area:tests:
  - '**/*.test.ts'
  - '**/*.spec.ts'
  - '**/__tests__/**'
area:ci:
  - '.github/**'
  - 'turbo.json'
  - 'turbo.jsonc'
  - 'pnpm-workspace.yaml'
  - 'pnpm-lock.yaml'
area:config:
  - '**/*.mjs'
  - '**/*.cjs'
  - '**/*.json'
  - 'tsconfig.json'
  - 'tsconfig/**'
  - 'eslint.config.mjs'
  - 'vitest.config.ts'
area:release:
  - '.changeset/**'
  - '**/package.json'
  - 'pnpm-lock.yaml'
area:assets:
  - 'assets/**'
  - '**/*.png'
  - '**/*.svg'
  - '**/*.jpg'
